{% extends 'shop/base.html' %}

{% block content %}
<h2 class="section-title">Товары</h2>
<div class="product-list">
    {% for product in products %}
        <div class="product-card">
            <a href="{% url 'product_detail' product.id %}">
                <div class="img-box">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                </div>
                <h3>{{ product.name }}</h3>
                <p class="price">{{ product.price|floatformat:2 }} ₽</p>
            </a>
        </div>
    {% empty %}
        <p>Нет доступных товаров.</p>
    {% endfor %}
</div>
{% endblock %}
